@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
@config "../tailwind.config.js";
@import "tailwindcss";

/* Global body style */
body {
  background-color: #1a1b26;
  color: #f8f8f2;
  font-family: 'VT323', monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #282a36;
}
::-webkit-scrollbar-thumb {
  background: #6272a4;
  border: 2px solid #1a1b26;
}
::-webkit-scrollbar-thumb:hover {
  background: #bd93f9;
}
